= form_for @organization do |f|
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :url
    = f.text_field :url
  .field
    = f.label :img
    = f.text_field :img
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit "Submit"
