%h1 Organizations
%p Explore some of the organizations that people are passing their Karma along to!  

- @organizations.each do |org|
  .row-fluid.well
    .span3
      = image_tag org.img 
    .span9
      %h3
        = link_to org.name, show_organization_path(org.id)
      %p= org.description
      - unless org.users.empty?
        %p= "Supporters: #{org.users.count}"